body {
    background-image: url(../res/img/1.jpg);
    background-color: #280A0A;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.kek {
    background-color: #26a69a;
    border-radius: 0px 0px 10px 10px;
}

.col {
    overflow-y:scroll;
}

::-webkit-scrollbar {
    display: none;
}

.kek1 {
    height: 50vh;
}

.kek2 {
    left: 50%;
    top: 50%;
}

.kek3 {
    text-align: center;
}